@import '../../assets/styles/colors';
@import '../../assets/styles/vars';

.card {
  flex: 0 0 20%;
  background-color: $card_color;
  border-radius: $border-radius-lg;
  display: grid;
  padding: 1rem;
  row-gap: 0.5rem;
  align-items: center;
  grid-template-rows: 5fr 1fr 1fr 1fr;
  grid-template-areas:
    'img img'
    'author cost'
    'title cat'
    'but but';
}

.img {
  grid-area: img;
  border-radius: $border-radius-sm;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.name {
  grid-area: title;
  font-size: 24px;
  margin: 0;
}
.category {
  grid-area: cat;
  justify-self: end;
  margin: 0;
}

.but {
  grid-area: but;
  cursor: pointer;
  min-height: 2rem;
  background: $card_color;
  color: $text_color;
  font: inherit;
  border-radius: 8px;
  border: 1px solid $border_color;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background: $gr_color;
    border: none;
  }
  &:active {
    background: $card_color;
    border: 1px solid $border_color;
  }
}

.author {
  grid-area: author;
  margin: 0;
}
.cost {
  grid-area: cost;
  justify-self: end;
  margin: 0;
}
.costUSD {
  font-size: 10px;
}
