@import '../../assets/styles/vars';

.header {
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.h1 {
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  a {
    text-decoration: none;
    font-family: inherit;
    // color: $text_color;
    font-size: 1.2rem;
    transition: color 0.5s;
    &:hover {
      color: $main_color;
    }
  }
}

.active {
  color: $main_color;
}
.pending {
  color: $text_color;
}
