$bg_color: #09090a;
$acent_color: #db552c;
$text_color: #fff;
$gr_color: linear-gradient(89.62deg, #0500fa 7.09%, #e01e5a 92.23%);
$card_color: #1e1b33;
$spot_color: rgba(215, 29, 97, 0.6);
$main_color: #7040f2;
$border_color: rgba(231, 231, 231, 0.4);
